options -multiviews
<IfModule mod_rewrite.c>
RewriteEngine On 
RewriteBase /
RewriteRule ^signup$ haivl/signup.php
RewriteRule ^settings$ haivl/settings.php
RewriteRule ^log_out$ haivl/log_out.php
RewriteRule ^logout$ haivl/logout.php
RewriteRule ^login$ haivl/login.php
RewriteRule ^delete-account$ haivl/delete-account.php
RewriteRule ^confirmemail$ haivl/confirmemail.php
RewriteRule ^submit$ haivl/submit.php
RewriteRule ^gag/(.*) haivl/view.php?pid=$1
RewriteRule ^safe$ haivl/safe.php
RewriteRule ^vote$ haivl/index.php
RewriteRule ^random$ haivl/random.php
RewriteRule ^trending$ haivl/trending.php
RewriteRule ^hot$ haivl/hot.php
RewriteRule ^fix/(.*) haivl/fix.php?pid=$1
RewriteRule ^search$ haivl/search.php
RewriteRule ^fast$ haivl/fast.php
RewriteRule ^user/([^/.]+)?/likes$ haivl/likes.php?uname=$1&%{QUERY_STRING}
RewriteRule ^user/([^/.]+)?/messages$ haivl/messages.php?uname=$1&%{QUERY_STRING}
RewriteRule ^user/([^/.]+)?$ haivl/user.php?uname=$1&%{QUERY_STRING}
RewriteRule ^faq$ haivl/faq.php
RewriteRule ^terms_of_service$ haivl/terms_of_service.php
RewriteRule ^privacy_policy$ haivl/privacy_policy.php
RewriteRule ^about$ about.php
RewriteRule ^rules$ rules.php
RewriteRule ^contact$ contact.php
RewriteRule ^forgot$ forgot.php
RewriteRule ^top$ top.php
</IfModule>
<IfModule mod_security.c> 
   # Turn off mod_security filtering. 
   SecFilterEngine Off 

   # The below probably isn't needed, 
   # but better safe than sorry. 
   SecFilterScanPOST Off 
</IfModule>
